---
title: My first middleman blog
---

<div class="welcome">
  <h1>My first middleman blog</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
